#include <stm32f103xb.h>

#define USE_FULL_LL_DRIVER

#undef __STM32F103xB_H
#define STM32F103xB
#define _STM32F1

//#define _ILI9163
//#define S6D0144
//#define _ST7735

//#define _L2F50126
//#define _LPH9157
//#define _LS020
//#define _SSD1286A

//#define _HX8340
//#define _ILI9225
//#define LGDP4524
// #define S6D0164

//#define HX8347A
//#define HX8347D
//#define _ILI9320
#define _ILI9341
//#define _MC2PA8201
//#define _S6D0129
//#define _S6D0139
//#define _SPFD5408
//#define _SSD1289
//#define _SSD2119

//#define _ILI9327
//#define _S6D04D1
//#define _ST7793

//#define _ILI9481
//#define _ILI9486
//#define _R61581
//#define _RM68140

//#define _DISP_8BIT
//#define _DISP_16BIT
#define _DISP_SPI

#define _TDA7439
#define _TDA731X
#define _PT232X
#define _TDA7418

#define _RDA580X
#define _SI470X
#define _TEA5767
